<div class="material-hero">
    <h1>CSE/ISE</h1>
</div>

<div class="sem">
    <div class="sembt">
        <h1>3rd Sem</h1>
    </div>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Mathematics  for CSE Stream</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Digital Design and Computer Organisation</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Operating Systems</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Data Structures and Applications</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Object Oriented Programming with Java</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Operating Systems Lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Data Structures Lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">OOP's with Java Lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Digital Design and Computer Organization Lab</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Data Visualization with Python Lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Microsoft Excel Lab</span></button>
</div>


<!-- 4th sem-->

<div class="sem">
    <div class="sembt">
        <h1>4th Sem</h1>
    </div>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Analysis and Design Of Algorithms</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Microcontroller</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Database Management Systems</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Discrete Mathematical Structures</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Technical Writing using LaTex</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Advanced Java</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Analysis and Design Of Algorithms Lab</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Biology for Engineers</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Graph Theory</span></button>
</div>

<!-- 5th sem-->

<div class="sem">
    <div class="sembt">
        <h1>5th Sem</h1>
    </div>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Software Engineering and Project Management</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Computer Networks</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Theory of Computation</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Computer Graphics </span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Artificial Intelligence</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Unix System Programming</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Distributed Systems</span></button>

</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Web Technology Lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Data Visualization Lab</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Environmental Studies </span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Research Methodology</span></button>
</div>

<!-- 6th sem-->

<div class="sem">
    <div class="sembt">
        <h1>6th Sem</h1>
    </div>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Cloud Computing</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Machine Learning</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Full Stack Development</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Blockchain Technology </span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Compiler Design</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Computer Vision</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Internet of Things</span></button>

</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Machine Learning lab</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Cloud Computing and Security</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Mobile Application Development</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">TOSCA–Automated Software testing</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Generative AI</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">React </span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Devops </span></button>
</div>
