<%- include("components/header.ejs") %>

<div class="material-hero">
    <h1>Basic Science</h1>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Applied Chemistry</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Applied Physics</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Mathematics I for CSE Stream</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Mathematics II for CSE Stream</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Computer Aided Engineering Drawing</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Principles of Programming using C</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Introduction to Internet Of Things</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Introduction to Python Programming</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Communicative English</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Introduction to Electronic and Communication</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Indian Constitution</span></button>
</div>

<div class="basic-page">
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Scientific Foundation Of Health</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Innovation and Design Thinking</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Samskruthika Kannada</span></button>
    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Belake Kannada</span></button>
</div>

<%- include("components/footer.ejs") %>