<%- include("components/header.ejs") %>

<div class="material-hero">
    <h1>ECE</h1>
</div>

<div class="third">
    <h1>3rd Sem</h1>
</div>

<div class="third">
    <h1>4th Sem</h1>
</div>

<div class="third">
    <h1>5th Sem</h1>
</div>

<div class="third">
    <h1>6th Sem</h1>
</div>

<%- include("components/footer.ejs") %>