<%- include("components/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/public/images/hero.jpg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Aiems Hub</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A dedicated platform offering seamless access to a wide range of curated notes, making it easy for users to find and review content anytime, anywhere, with intuitive navigation and a streamlined experience.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="zm6s2">Browse Our Collection</button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="igu86tn">Secondary</button> -->
      </div>
    </div>
  </div>

<%- include("components/footer.ejs") %>