<%- include("components/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <img id="hero-img" class="d-block mx-auto mb-4" src="https://github.com/SimonLeo28/Aiems-Hub/blob/master/public/images/hero.jpg?raw=true" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to <span id="aiems">Aiems</span> Hub</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A dedicated platform offering seamless access to a wide range of curated notes, making it easy for users to find and review content anytime, anywhere, with intuitive navigation and a streamlined experience.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="zm6s2"><span id="aiems">Browse Our Materials</span></button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="igu86tn">Secondary</button> -->
      </div>
    </div>
  </div>


  <!-- About Section -->
  <section class="about-section" id="about">
    <div class="container">
      <div class="about-content">
        <h2>About Aiems Hub</h2>
        <p>
          Greetings, everyone. My name is Simon Leo Alexander, and I am a Information Science and Engineering (ISE) student from Banglore.
        </p>
        <p>
          Today, I am excited to share the inspiration behind a project I’ve developed: a website dedicated to providing high-quality study materials for VTU students.
        </p>
        <p>
          As a VTU student myself, I have often struggled to find well-organized and reliable resources.
          This experience highlighted a gap in accessible, curated study materials tailored to the academic needs of VTU students.
          Motivated by this challenge, I set out to create a comprehensive platform designed to support the academic
          journey of fellow students. My hope is that this platform will serve as a valuable resource for those facing similar
          challenges.
        </p>
        <a href="/materials" class="btn">Explore Materials</a>
      </div>
      <div class="about-image">
        <img src="https://github.com/SimonLeo28/Aiems-Hub/blob/master/public/images/hero.jpg?raw=true" alt="About Us Image">
      </div>
    </div>
  </section>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Why Us</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Life Time Access</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/SimonLeo28/Aiems-Hub/blob/master/public/images/hero.jpg?raw=true" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>India</small>
              </li>
              <!-- <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li> -->
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Every Kind Of Materials</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/SimonLeo28/Aiems-Hub/blob/master/public/images/hero.jpg?raw=true" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>India</small>
              </li>
              <!-- <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>4d</small>
              </li> -->
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">A Mini Engineering Library</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/SimonLeo28/Aiems-Hub/blob/master/public/images/hero.jpg?raw=true" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>India</small>
              </li>
              <!-- <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>5d</small>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="/js/navbar.js"></script>
<%- include("components/footer.ejs") %>