<%- include("components/header.ejs") %>


<div class="material-hero">
    <h1>Materials</h1>
</div>

<div class="basic">
<div class="basic-science">
    <a href="/basicscience">
        <h1>Basic <br/> Science</h1>
    </a>
</div>

<div class="cse">
    <a href="/cse">
    <h1>CSE/ <br/> ISE</h1>
    </a>
</div>
</div>

<div class="civil">
    <div class="cse">
        <a href="/ece">
        <h1>ECE</h1>
        </a>
    </div>
    <div class="cse">
        <a href="/civil">
        <h1>Civil</h1>
        </a>
    </div>
    <div class="cse">
        <a href="/Mech">
        <h1>Mech</h1>
        </a>
    </div>
</div>




<%- include("components/footer.ejs") %>