.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-elements {
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    padding: 10px;
    margin-right: 50px;
}

.navbar h2 {
    color: white;
    margin-left: 50px;
    padding: 10px;
}

.a {
    color: gray;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar-elements {
        display: flex;
        flex-direction: column;
    }
    .nav-elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }

}

#hero-img {
    height: 200px;
    width: 200px;
}


#aiems {
    color: red;
}

.a:hover {
    color: red;
    transition: 1s;
    font-size: large;
}